.cartas{
    perspective: 1000px;
}
.carta{
    transform: rotateY(180deg);
    transition: transform 1s;
    transform-style: preserve-3d;
}

.rotar{
    transform: rotateY(360deg);
}

.desrotar{
    transform: rotateY(360deg);
}

.abierto, .cerrado {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* Esto ocultará el contenido en la parte de atrás */
}

.abierto {
    transform: rotateY(0deg);
}

.cerrado {
    transform: rotateY(180deg);
}